body {
  margin: 0;
  padding: 0;
  place-items: center;
  /* min-width: 320px;
  min-height: 100vh; */
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(189, 224, 254);
  font-size: small;
  color: lightslategray;
}

a {
  font-weight: 500;
  color: #2f2f30;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}